alabaster==0.7.4
alembic==0.7.6
Babel==1.3
backlash==0.0.9
Beaker==1.7.0
cliff==1.13.0
cmd2==0.6.8
crank==0.7.2
decorator==3.4.2
docutils==0.12
Flask==0.10.1
FormEncode==1.3.0
gearbox==0.0.7
Genshi==0.7
itsdangerous==0.24
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
mercurial==3.1.2
Ming==0.5.2
numpy==1.9.0
PasteDeploy==1.5.2
pbr==1.1.1
prettytable==0.7.2
Pygments==2.0.2
pymongo==2.8.1
pyparsing==2.0.3
pytz==2015.4
repoze.lru==0.6
repoze.who==2.2
six==1.9.0
snowballstemmer==1.2.0
speaklater==1.3
Sphinx==1.3.1
sphinx-rtd-theme==0.1.8
sprox==0.9.5
SQLAlchemy==1.0.5
stevedore==1.5.0
Tempita==0.5.2
tg.devtools==2.3.5
tgext.admin==0.6.5
tgext.crud==0.7.3
transaction==1.4.4
TurboGears2==2.3.5
tw2.core==2.2.2
tw2.forms==2.2.2.1
virtualenv==1.11.4
WebOb==1.4.1
WebTest==1.4.3
Werkzeug==0.9.6
zope.interface==4.1.2
zope.sqlalchemy==0.7.6
waitress
